:root { --white: #fff; --black: #000; --glay: #555; --inlineBlock: inline-block; --vertical-align: top; --paddingUL: 0px 5px 3px 5px; }
a { display: inline-block; vertical-align: top; color: #007bff; text-decoration: none; }
body { font-family: "Helvetica Neue", Arial, sans-serif; }
.aHeader { height: 84px; background-color: var(--white); position: relative; }
.aHeader .blk { display: inline-block; vertical-align: top; }
.i-square { display: inline-block; vertical-align: top; width: 64px; height: 64px; background: url(imgs/add.png) center no-repeat; transform: rotate(-45deg); padding: 6px; }

/*.bLogo*/
.aHeader .bLogo { }
.aHeader .lnk-logo { padding: 5px 10px; font-size: 20px; font-weight: 400; letter-spacing: 4px; line-height: 53px; margin: 0 16px; }

/*bNav*/
.aHeader .bNav { }
.aHeader .ul-nav { }
.aHeader .li-nav { display: inline-block; vertical-align: top; }
.aHeader .lnk-nav { font-size: 17px; color: var(--glay); letter-spacing: 1px; padding: 0 8px; line-height: 30px; }
.aHeader .li-nav.active .ul-subNav { display: block; }

/*.bSearch*/
.aHeader .bSearch { position: absolute; right: 30px; top: 0; }
.aHeader .ipt-search { border: none; border-bottom: 1px solid #c5c5c5; height: 44px; padding-left: 30px; outline: none; background: url(imgs/header/magnifier-tool.png) left center no-repeat; background-size: 17px; }

/*.ul-subNav*/
.aHeader .ul-subNav { display: none; padding: 0; transition: all .3s ease; }
.aHeader .ul-subNav { padding: 5px 0; border-radius: 10px; background-color: #fff; -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2); }
.aHeader .ul-subNav .li-subNav { list-style-type: none; }
.aHeader .ul-subNav .li-subNav .lnk-subNav { text-align: left; font-size: 14px; color: #000; line-height: 30px; padding-left: 15px; }
.aHeader .ul-subNav .li-subNav:hover { background-color: #007bff; }
.aHeader .ul-subNav .li-subNav:hover .lnk-subNav { color: #fff; }
.aHeader .ul-subNav:before { display: block; content: ""; width: 0; height: 0; border-style: solid; border-width: 0 7px 10px 7px; border-color: transparent transparent #ffffff transparent; position: relative; top: -15px; left: 19px; }
.aBanner { background: url(imgs/hero_2.jpg) center top no-repeat; }
.aBanner { width: 100%; min-height: 700px; text-align: center; background: url(imgs/hero_2.jpg) center top no-repeat; background-size: cover }
.aBanner .bTits { padding: 20vh 0 0 0; }
.aBanner .bTits .h1-tit { font-size: 80px; color: #fff; line-height: 1.2; text-align: center; margin: 0; }
.aBanner .bVideo { width: 80px; height: 80px; margin: 40px auto 0; }
.aBanner .bVideo .i-video { display: inline-block; width: 50px; height: 50px; margin-left: -4px; padding: 5px 3px 5px 7px; border-radius: 50%; line-height: 50px; background-color: white; transition: all .2s ease; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .2s ease; }
.aBanner .bVideo .i-video:hover { transform: scale(1.2); }
.aBanner .bVideo~.txt-cont { display: block; font-size: 17px; color: #fff; }
.aMainerA .cube-square { display: inline-block; vertical-align: top; width: 90px; height: 90px; border: 2px solid #007bff; border-radius: 7px; text-align: center; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.aMainerA .li-types { display: inline-block; vertical-align: top; width: 180px; margin: 5% 2% 0; text-align: center; }
.aMainerA .ul-types { text-align: center; padding-left: 0; }
.aMainerA .h6-tits { font-size: 20px; font-weight: bold; margin: 40px 0 10px; }
.aMainerA .p-desc { color: #555; line-height: 1.5; }

/*bIntro*/
.aMainerA .img-intro01, .aMainerA .arti-intro01 { display: inline-block; vertical-align: top; width: 50%; height: 455px; margin-left: -4px; }
.aMainerA .img-intro01 { background: url(imgs/hero_1.jpg) left center no-repeat; }
.aMainerA .arti-intro01 { padding: 50px; box-sizing: border-box; }
.aMainerA .arti-intro01 .h2-tit { font-size: 48px; margin-top: 0; }
.aMainerA .arti-intro01 .txt { font-size: 17px; line-height: 1.5; color: #555; letter-spacing: 2px; }

/*typesB*/
.typesB .i-square { transform: rotate(0); }
.typesB .h6-tits { margin-top: 5px; }
.typesB .li-types { width: 320px; margin: 5% 4% 5% calc(4% - 4px); }

/*aMainB*/
.owl-carousel .owl-item img { display: inline-block; vertical-align: top; width: 60px; border-radius: 50%; }
.owl-carousel .owl-item .arti { display: inline-block; vertical-align: top; width: calc(50% - 64px); padding: 10px; }
.owl-carousel .owl-item .h6-tit { margin: 5px 0; }
.owl-carousel .owl-item .item { background-color: #eaeaea; width: 58%; margin: 0 auto; padding: 40px; }
.owl-carousel .owl-item .txt { line-height: 1.6; }

/* .owl-carousel .owl-item .bCard:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 1px;
    height: 60px;
} */
.aMainerB .h2-tit { font-size: 48px; text-align: center; margin: 80px 0 20px; }
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev { font-size: 80px; line-height: 1.2; width: 50px; }
.owl-carousel .owl-nav button span {  /*visibility: hidden; background: url(imgs/arrow.png) left center no-repeat;*/ }
.owl-theme .owl-nav [class*=owl-]:hover { background: 0 0; color: #555;outline: none;}

/*aMainerC*/
.aMainerC { background-color: #0e6fff; text-align: center; color: #fff; padding: 30px; }
.aMainerC .h3-tit { font-size: 28px; }
.aMainerC .txt { display: block; }
.aMainerC .lnk-touch { background-color: #ffc107; font-size: 13px; font-weight: bold; letter-spacing: 1px; padding: 15px; border-radius: 3px; color: #000; margin: 15px 0; }
